name: AnyRouter Daily Checkin

on:
  schedule:
    - cron: '*/5 * * * *'
    # 北京时间 周一至周五 10:00 (UTC 02:00)
    # - cron: '0 2 * * 1-5'
    # 北京时间 周六、周日 19:00 (UTC 11:00)
    # - cron: '0 11 * * 6,0'
  
  workflow_dispatch:

jobs:
  checkin:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Debug trigger
        run: |
          echo "event=${{ github.event_name }}"
          echo "schedule=${{ github.event.schedule }}"
          echo "ref=${{ github.ref }}"
          echo "actor=${{ github.actor }}"

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      
      - name: Install Dependencies
        run: npm install axios

      - name: Run Checkin Script
        env:
          # 核心账号变量
          NEW_API_USER: ${{ secrets.NEW_API_USER }}
          COOKIE: ${{ secrets.COOKIE }}
          
          # Server酱 变量 (请在 Secrets 里添加这个 Key)
          SERVERCHAN_SENDKEY: ${{ secrets.SERVERCHAN_SENDKEY }}
        run: node checkin.js
